####################################
#           ARCHIVOS GLOBALES
####################################
HELP.md

####################################
#             MAVEN
####################################
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
mvnw
mvnw.cmd


####################################
#      IDEs Y EDITORES
####################################
### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Visual Studio Code ###
.vscode/

####################################
#       CONFIGURACIÓN PERSONAL / ENTORNO
####################################
.env
*.local
*.properties.local
